---
# main.yml - configure iptables
#

- name: Disable firewalld
  service:
    name: firewalld
    state: stopped
    enabled: no

- name: Install iptables Packages
  dnf: pkg={{ item }} state=installed
  with_items:
    - iptables
    - iptables-services
    - iptables-utils

- name: Copy iptables rules
  copy: src=iptables dest=/etc/sysconfig/iptables
  notify:
    - restart iptables

- name: Start and Enable iptables
  service: name=iptables state=started enabled=yes


# vim:ft=ansible: