---
# sshd.yml - configure sshd

- name: Ensure openssh-server is installed
  dnf:
    pkg: openssh-server
    state: installed

- name: Ensure sshd enabled and running
  service:
    name: sshd
    state: started
    enabled: yes

- name: Configure sshd_config
  lineinfile:
    backup: yes
    state: present
    dest: /etc/ssh/sshd_config
    regexp: '^#?PermitRootLogin (yes|no|Yes|No|without-password)'
    line: 'PermitRootLogin without-password'
  notify:
    - restart sshd
  tags:
    - sshd


# vim:ft=ansible: